[user]
	email = jiahaoxiang2000@gmail.com
	name = isomoes
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://git.overleaf.com"]
	helper = "!f() { echo username=git; echo \"password=$OVERLEAF_GIT\"; }; f"
